.form-section {
    display: flex;
    flex-direction: column;
}

.form-input {
    margin-bottom: 6px;
    border: none;
    height: 20px;
    border-radius: 5px;
    padding: 5px;
}

.form-button {
    background-color: black;
    color: white;
    font-weight: 600;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
    width: 100%;
}